/* Styles for Selectimus 0.1.0 */

.selectimus  * {
	font-size: inherit;
	font-weight: inherit;
	width: 100%;
}
.selectimus  .selectimus-table {
    border-collapse: collapse !important;
    border-spacing: 0 !important;
}
.selectimus-table  TD {
	margin: 0;
	padding: 0 0 0 5px;
}
.selectimus-table .td_hover {
	background: #7ea0fa;
	color: white;
}
.selectimus .select-box {
	overflow: hidden;
	width: inherit;
	left: 0;
	position: absolute;
}
.selectimus .select-button-close {
	position: absolute;
	background: url('images/arrow-up-down.png') 0 0 no-repeat;
	right: 1px;
	width: 16px;
	height: 16px;
	z-index: 1;
}
.w-srcollbar-wrap .w-srcoll-top {
	top: 0;
	position: absolute;
	cursor: pointer;
	background: url('images/arrow-up-down.png') 0 0 no-repeat;
}
.w-srcollbar-wrap .w-srcoll-bottom {
	bottom: 0;
	position: absolute;
	cursor: pointer;
	background: url('images/arrow-up-down.png') 0 114% no-repeat;
}
.w-srcollbar-wrap {
	background-color: white;
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	position: absolute;
	right: 1%;
	top: 1%;
	opacity: 0.3;
}
.w-srcollbar-wrap:hover {
	opacity: 1;
}
.w-srcollbar-wrap .w-slider {
	background-color: #EADEDE;
	border: 1px solid #969696;
	border-radius: 3px 3px 3px 3px;
	position: relative;
}
