/* Styles for Selectimus 0.1.0 */

.selectimus  * {
	font-size: inherit;
	font-weight: inherit;
	width: 100%;
	padding: 0;
	margin: 0;
}
.selectimus_ul {
	list-style-type: none;
}
.selectimus_ul  LI {
     	display: inline-block;
	padding: 0 0 0 5px;
}
.selectimus_ul .sel_hover {
	background: #7ea0fa;
	color: white;
}

.selectimus .select-box {
	overflow: hidden;
	width: inherit;
	left: 0;
	position: absolute;
        cursor: default;
}
.selectimus .select-button-close {
	position: absolute;
	background: url('images/arrow-up-down.png') 0 0 no-repeat;
	right: 1px;
	width: 16px;
	height: 16px;
	z-index: 1;
}

/* IE<8 */
.w-srcollbar-wrap .w-slider {
  	filter: alpha(opacity=30);
}
.w-srcollbar-wrap .w-slider:hover {
  	filter: alpha(opacity=100);
}
/*******/

.w-srcollbar-wrap .w-srcoll-top {
	top: 0;
	position: absolute;
	cursor: pointer;
	background: url('images/arrow-up-down.png') 0 0 no-repeat;
}
.w-srcollbar-wrap .w-srcoll-bottom {
	bottom: 0;
	position: absolute;
	cursor: pointer;
	background: url('images/arrow-up-down.png') 0 114% no-repeat;
}
.w-srcollbar-wrap {
	background-color: white;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	position: absolute;
	right: 1%;
	top: 1%;
	opacity: 0.3;
  	filter: alpha(opacity=30);
}
.w-srcollbar-wrap:hover {
	opacity: 1;
  	filter: alpha(opacity=100);
}
.w-srcollbar-wrap .w-slider {
	background-image: -moz-linear-gradient(left, #D3D3D3, #ffffff);
        background-image: -webkit-linear-gradient(left, #D3D3D3, #ffffff);
        background-image: -o-linear-gradient(left, #D3D3D3, #ffffff);
        background-image: -ms-linear-gradient(left, #D3D3D3, #ffffff);
        background-image: linear-gradient(left, #D3D3D3, #ffffff);
	background-color: #EADEDE;
	border: 1px solid #969696;
	border-radius: 3px;
	position: relative;
}
